.breadCrumbs{
  display: flex;
  column-gap: 19px;
  &__item{
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: #0F303F;
    &:not(&:first-child)::before{
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #0F303F;
      top: 50%;
      left: -10px;
    }
  }
}